/*  your css code here. If applicable */
#card{
	margin: auto;
	text-align: center;
	width:400px;
	height:600px;
	background-color: lightcoral;
	border-radius: 16px;
	box-shadow: 2px 2px 5px gray;
}
#image{
	margin-top: 15px;
	border-radius: 12px;
}
#h1{
    font-family:"Georgia", serif;
	background-color: white;
	border-radius: 45px;
	margin-inline: 10px 
}
p{
	font-size: 20px;
	font-family:"Georgia", serif;
	padding-inline: 20px;
}
#btn{
	font-family:"Georgia", serif;
	background-color: skyblue;
	font-size: 20px;
	padding: 5px;
	border-radius: 15px;
	margin-top: 20px;
}
#btn:hover{
	border-radius: 40%;
	background-color: blue;
}
